
.form-connec-h3 {
    padding: 15px;
    font-family: Helvetica,Arial,Tahoma,Sans-Serif;
    font-style: bold;
    font-size: 27px;
    font-weight: normal;
    color: #4AB35F;
}
#moyenpaiement{
    background: #228dcb;
    padding: 5px 70px;
}
.example{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.253);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
        animation: animation 1s ;
        background: rgb(255, 255, 255);
        width: 35%;
        height: 80%;
        color: black;
        text-align: center;
        border-radius: 20px;
    
        padding: 50px 40px ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@keyframes animation{
    0%{
     transform: translateY(-200px); 
     opacity: 0;  
    }
    50%{transform: translateY(-100px);
        opacity: 0.5;
    }
    100%{transform: translateY(0px);
    opacity: 1;}
}
.payer{
    color: rgb(196, 195, 216);
    background: rgb(47, 124, 206);
    width: 150px;
    height: 40px;
    margin: 5px;
    border: white;
    border-radius: 20px;
    font-size: 20px;
    
}
.checkout{
    margin: 50px;
    background: rgb(32, 88, 172);
    padding: 15px;
    border-radius: 10px;
}
#numero_vol {
    margin-right: 20px;
}
.bt-annuler{
    color: rgb(248, 241, 242);
    margin-top: 5px;
    border: white;
    border-radius: 5px;
    background: red;
    width: 100px;
    height: 30px;
}
.section-Card{
    color:black;
    font-family: sans-serif;
    font-size: medium;
    /* font-weight: 400;
    letter-spacing: 0.025em; */

}
.StripeElement {
  display: block;
  margin: 5px 0 5px 0;
  width: 260px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background: white;
}
.ipaiment{
    font-size: x-large;
    height: 100px;
}
.paiment1{
    height: 150px;
}
.accompt-payer{
    color: green;
}
.fa-cc-mastercard:before {
    margin: 5px;
}